*{box-sizing: border-box;}
.container{
    width: 500px;
    margin: 30px auto;
    padding: 20px;
    border: solid gray 2px;
    border-radius: 10px;
}
.formtitle{
    text-align: center;
    color: darkblue;
}
.formcontrol{
    margin-top: 30px;
}
.formcontrol label{
    display: block;
    margin-bottom: 5px;
    color: darkblue;
}
.formcontrol input{
    width: 100%;
    padding: 10px;
    border: solid 2px gray;
    border-radius: 5px;
}
.btn{
    height: 40px;
    width: 100%;
    color: white;
    background-color: darkblue;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    background-color: red;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: 0px 0px 0px 2px 1px gray;
}
.json_dispay{
    margin-top: 50px;
}
.validMsg{
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.696);
    color: white;
}

/* angular classes */
.ng-touched{
    border: greenyellow 2px solid;
}
.ng-valid{
    background-color: rgba(47, 218, 47, 0.242);
}
.ng-invalid{
    border: red 2px solid;
}

