<section class="container">
    <div action="" class="form">
        <h1 class="formtitle">Signup Form</h1>
        <!-- username -->
        <div class="formcontrol">
            <label for="username">Username: </label>
            <input type="text" id="username" placeholder="Type username.." [(ngModel)]="newuser.name" name="userName" #name = 'ngModel' (change)="displaylog(name)">
        </div>
        <div class="formcontrol">
            <label for="email">Email address: </label>
            <input type="email" name="email" id="email" [(ngModel)]="newuser.email" placeholder="Type your email...">
        </div>
        <div class="formcontrol">
            <button type="submit" class="btn">Send</button>
        </div>
        <div class="json_display">
            <p>Result</p>
        </div>
    </div>
</section>